div {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
mat-tab-group {
    text-align: center;
}
img {
    margin: 10px;
    margin-top: 30px;
}
.haut {
    margin-top: 70px;
}
.espace {
    margin-top: 10px;
    margin-bottom: 10px;
}
mat-panel-title {
    color: white;
    text-shadow: #942ab2 1px 1px;
    font-family: 'Montserrat', sans-serif;
}
mat-tab {
    font-family: 'Montserrat', sans-serif;
}
mat-panel-description {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;  
}
